<!DOCTYPE html>
<html>
    <head>
        <title>Maebe Foundation - About Us</title>
        <link rel="stylesheet" href="Style.css">
    </head>
    <body>
        <header class="navArea">
                <a href="Website.html"><img src="https://i.ibb.co/cQtkPYs/Website-Logo1.png" width="150"></a>
            <ul>
                <li class="moto">Bringing our furry friends home</li>
                <li><a href="">Our Work</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="aboutus.html">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Sign In</a></li>
                <li><a href="JoinUs.html">Join Us</a></li>
            </ul>
        </header>
    <section class="videoarea">
        <h2>Some of Our Newest Friends!</h2>
        <video width="300" height="220" controls autoplay>
            <source src="Puppies playing.mp4" type="video/mp4">
        </video>
    </section>    
    <section class='whats-new'>
           <span class="about-us">
                <h3>About Us!</h3>
                    <p>Maebe Foundation was founded in 2018 as a grassroots response to the housing crisis that left thousands of people displaced and thousands of pets abandoned.</p>
                    <p>Pets were abandoned in foreclosed homes, often without food or water. Others were forced into shelters—their owners having no other choice. With the second highest foreclosure rates, and the second highest shelter-euthanasia rates, Maricopa County was experiencing a crisis and no existing service was designed to address the needs of both people and pets.</p>
                    <p>The Maebe Foundation was quick to recognize this urgent need and launched Lost Our Home Pet Rescue with just a small network of volunteers who were focused on helping the pets that had been abandoned during the housing crisis. Help and hope were on the way!</p>
                    <p>Soon we learned that the need was even greater than we originally thought, and we responded by quickly expanding our programs to offer additional programs for pets and pet parents facing other life crises too.</p>
           </span>
    </section>
    <section class="bottom">
        <span class="ourinfo">
            <p><strong>Maebe foundation</strong></p>
            <p>Address: 4324 E. Pet Lover Rd, Phoenix, AZ 85004</p>
            <p>Phone: (480) 333-5567</p>
            <p>Email:<a href="">contact@maebefoundation.com</a></p>
            <p>Website:<a href="Website.html">Maebefoundation.com</a></p>
        </span>
        <span class="links">
            <ul>
                <li><a href="">Get Involved</a></li><br>
                <li><a href="">Blog</a></li><br>
                <li><a href="">Ways To Give</a></li><br>
            </ul>
        </span>
        <span class="links2">
            <ul>
                <li><a href="">Earnings</a></li><br>
                <li><a href="">Events</a></li><br>
                <li><a href="">Support</a></li><br>
            </ul>
        </span>
    </section>
    <section>
        <footer class="site">
            <a href="">Site Map</a>
            |
            <a href="">Terms & Conditions</a>
            |
            <a href="">Privacy Policy</a>
            |
            Copyright &copy; 2019
        </footer>
    </section>