{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maebe Foundation - Sign In</title>
        <link rel="stylesheet" href="{% static 'ffutche/Style.css' %}">
        <link href="{% static 'ffutche/jqueryform.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'ffutche/jqueryform.js' %}"></script>
    </head>
    <body>
        <header class="navArea">
                <a href="Website.html"><img src="https://i.ibb.co/cQtkPYs/Website-Logo1.png" width="150"></a>
            <ul>
                <li class="moto">Bringing our furry friends home</li>
                <li><a href="">Our Work</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="Signin.html">Sign In</a></li>
                <li><a href="JoinUs.html">Join Us</a></li>
            </ul>
        <br>
        </header>
        <section class="topcontainer">
        <div class="joinus-container">
            <h2>Sign In:</h2>
                <form id="contact" method="post" action="">
                        <div>
                            <label for="user_id">User ID:</label>
                            <input type="text" id="user_id" name="user_id"></input>
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="text" id="password" name="password"></input>
                        </div>
                        <div id="contact_submit">
                            <button type="submit">Sign In</button>
                        </div>
                </form>
            </div>
        </section>
        <section class="bottom">
                <span class="ourinfo">
                    <p><strong>Maebe foundation</strong></p>
                    <p>Address: 4324 E. Pet Lover Rd, Phoenix, AZ 85004</p>
                    <p>Phone: (480) 333-5567</p>
                    <p>Email:<a href="">contact@maebefoundation.com</a></p>
                    <p>Website:<a href="Website.html">Maebefoundation.com</a></p>
                </span>
                <span class="links">
                    <ul>
                        <li><a href="">Get Involved</a></li><br>
                        <li><a href="">Blog</a></li><br>
                        <li><a href="webportal.html">Web Portal</a></li><br>
                    </ul>
                </span>
                <span class="links2">
                    <ul>
                        <li><a href="">Earnings</a></li><br>
                        <li><a href="">Events</a></li><br>
                        <li><a href="">Support</a></li><br>
                    </ul>
                </span>
            </section>
            <section>
                <footer class="site">
                    <a href="">Site Map</a>
                    |
                    <a href="">Terms & Conditions</a>
                    |
                    <a href="">Privacy Policy</a>
                    |
                    Copyright &copy; 2019
                </footer>
            </section>
    </body>
</html>